@model CIS_420_WebApplication.Models.ApplicationUser
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="nested-section">
        <div>
            <h2>User Information</h2>
            <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
            <hr />
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-6 text-center">
                    <div class="label-primary" style="color: white;">Creation Date</div>
                    <h4>@Html.DisplayFor(model => model.AccountCreationDate)</h4>
                </div>
                <div class="col-md-6 text-center">
                    <div class="label-success" style="color: white;">Role</div>
                    <h4>@Html.DisplayFor(model => model.Access)</h4>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">
                <a asp-action="Edit" asp-route-id="@Model.ApplicationUserId">Edit</a>
            </button>
            <button class="btn btn-info">
                <a asp-action="Index">Back to List</a>
            </button>
        </div>
    </div>
</div>


